{% extends "layout.html" %}
{% block title %}
添加站点信息
{% endblock %}
{% block content %}
<body>
<div class="container">
    <h3 class="posr text-center"><a class="posa back btn btn-link" href="/v/list">返回站点列表</a>添加站点信息</h3>
    <hr>
    <form action="/v/poststate" method="post" enctype="multipart/form-data">
        <input type="hidden" name="stateid" id="stateid" value={{state.id}}>
        <div class="form-group">
            <label for="areaname">大区：</label>
            <input type="text" class="form-control" id="areaname" name="areaname" placeholder="华北大区" value="{{state.areaName}}" readonly>
        </div>
        <div class="form-group">
            <label for="statename">站点：</label>
            <input type="text" class="form-control" id="statename" name="statename" placeholder="哈尔滨站" value="{{state.stateName}}" readonly>
        </div>
        <div class="form-group">
            {% if state.stateImg %}
            <input type="hidden" name="oldstateimg" value="{{state.stateImg}}">
            <label for="stateimg" class="file">站点图片：
                <img src="../{{state.stateImg}}" id="preview" class="img-responsive">
                <input type="file" name="stateimg" id="stateimg" accept="image/*">
                <span class="hide filebtn form-control" id="filebtn">站点图片(要换一张请点击图片)</span>
            </label>
            {% else %}
            <label for="stateimg" class="file">站点图片：
                <img src="../{{state.stateImg}}" id="preview" class="img-responsive">
                <input style="margin-top: 20px;" type="file" required name="stateimg" id="stateimg" accept="image/*">
                <span class="filebtn form-control" id="filebtn">选择站点图片</span>
            </label>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="statedescription">站点描述：</label>
            {% if state.stateDescription %}
            <textarea class="form-control" name="statedescription" id="statedescription" rows="6">{{state.stateDescription}}</textarea>
            {% else %}
            <textarea class="form-control" name="statedescription" id="statedescription" rows="6"></textarea>
            {% endif %}
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg">提交</button>
        </div>
    </form>
</div>
<script>
    function getObjectURL(file) {
      var url = null;
      if (window.createObjectURL != undefined) {
        url = window.createObjectURL(file);
      } else if (window.URL != undefined) {
        url = window.URL.createObjectURL(file);
      } else if (window.webkitURL != undefined) {
        url = window.webkitURL.createObjectURL(file);
      }
      return url;
    };
    $('#stateimg').on('change', function(e) {
      var files = this.files[0];
      $('#preview').attr('src', getObjectURL(files));
      $('#filebtn').addClass('hide');
    });
</script>
</body>
{% endblock %}