<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/v/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/v/stylesheets/style.css">
  <script src="/v/javascripts/zepto.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <img class="y" src="http://weixin.00jianshen.com/wx/images/wx/15_title_year.jpg" width="0" height="0">
</head>
{% block content %} {% endblock %}
</html>
