{% extends "layout.html" %}
{% block title %}
阳光15周年庆站点投票情况
{% endblock %}
{% block content %}
<body>
<div class="container">
    <h3 class="text-center">联想阳光15周年庆—站点投票</h3>
    <form id="search">
        <div class="row">
            <div class="col-xs-4" style="padding-right:0;">
                <div class="form-group">
                    <select name="area" id="area" class="form-control">
                        <option value="">所有大区</option>
                        {% for area in areas %}
                        <option value="{{area}}">{{area}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-4" style="padding-right:0;">
                <div class="form-group">
                    <select name="province" id="province" class="form-control">
                        <option value="">所属省份</option>
                        {% for province in provinces %}
                        <option value="{{province}}">{{province}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <select name="city" id="city" class="form-control">
                        <option value="">城市</option>
                        {% for city in cities %}
                        <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-xs-4" style="padding-right:0;">
                <div class="form-group">
                    <select name="country" id="country" class="form-control">
                        <option value="">县区</option>
                        {% for country in countries %}
                        <option value="{{country}}">{{country}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div> -->
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" class="form-control" name="state" id="state" placeholder="输入网点">
                </div>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="/order/id/desc" class="order">序号</a></th>
                <th><a href="/order/areaName/desc" class="order">所属大区</a></th>
                <th><a href="/order/stateName/desc" class="order">站点名称</a></th>
                <th><a href="/order/stateDescription/desc" class="order">站点描述</a></th>
                <th><a href="/order/stateVotes/desc" class="order">票数</a></th>
                <th class="text-center"><a href="/order/stateImg/desc" class="order">站点图片</a></th>
            </tr>
        </thead>
        <tbody id="tbody">
            {% for state in states %}
            <tr>
                <td>{{ state.id }}</td>
                <td>{{ state.areaName }}</td>
                <td>{{ state.stateName }}</td>
                {% if state.stateDescription %}
                <td><a href="/add/{{state.id}}" class="inline-block ellipsis" alt="{{state.stateDescription}}" title="{{ state.stateDescription }}">{{ state.stateDescription }}</a></td>
                {% else %}
                <td><a href="/add/{{state.id}}" class="btn btn-primary">添加描述</a></td>
                {% endif %}
                <td>{{ state.stateVotes }}</td>
                {% if state.stateImg %}
                <td class="text-center"><a href="/add/{{state.id}}"><img src="{{state.stateImg}}" width=30 height=30></a></td>
                {% else %}
                <td class="text-center"><a href="/add/{{state.id}}" class="btn btn-primary">添加图片</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('.order').on('click', order);
    function order(e) {
      e.preventDefault();
      if ($('#state').val().length !== 0) {
        return;
      }
      var $this = $(e.target);
      var href = $this.attr('href');
      $.getJSON(href, $('#search').serialize(), function(data) {
        var str = '';
        $.each(data, function(i, item) {
          var stateImgHTML = '',
          stateDescriptionHTML = '';
          if (item.stateImg) {
            stateImgHTML = '<a href="/add/'+item.id+'"><img src="'+item.stateImg+'" width="30" height="30"></a>';
          } else {
            stateImgHTML = '<a class="btn btn-primary" href="/add/'+item.id+'">增加图片</a>';
          }
          if (item.stateDescription) {
            stateDescriptionHTML = '<a class="inline-block ellipsis" href="/add/'+item.id+'" alt="'+item.stateDescription+'" title="'+item.stateDescription+'">'+item.stateDescription+'</a>';
          } else {
            stateDescriptionHTML = '<a class="btn btn-primary" href="/add/'+item.id+'">添加描述</a>';
          }
          str += '<tr>'+
                     '<td>'+item.id+'</td>'+
                     '<td>'+item.areaName+'</td>'+
                     '<td>'+item.stateName+'</td>'+
                     '<td>' + stateDescriptionHTML + '</td>' + 
                     '<td>'+item.stateVotes+'</td>'+
                     '<td class="text-center">'+ stateImgHTML +
                     '</td></tr>';
        });
        $('#tbody').html(str);
        if (href.indexOf('desc') !== -1) {
          $this.attr('href', href.replace('desc', 'asc'));
        } else {
          $this.attr('href', href.replace('asc', 'desc'));
        }
      });
    }
    //搜索
    function appendOption(targetEle, data, pele, dstr) {
        $.each(data, function (i, v) {
            dstr += '<option value="' + v + '">' + v + '</option>';
        });
        targetEle.html(dstr);
    }
    function search(stype, pele, dstr) {
        $.ajax({
          type: 'get',
          url: '/search',
          data: $('#search').serialize() + '&stype=' + stype,
          success: function(data) {
            if (!data.error) {
              if (stype !== 'state' || stype !== null) {
                  appendOption($('#' + stype), data[stype], pele, dstr);
              }
              var str = '';
              $.each(data.states, function(i, item) {
                var stateImgHTML = '',
                stateDescriptionHTML = '';
                if (item.stateImg) {
                  stateImgHTML = '<a href="/add/'+item.id+'"><img src="'+item.stateImg+'" width="30" height="30"></a>';
                } else {
                  stateImgHTML = '<a class="btn btn-primary" href="/add/'+item.id+'">增加图片</a>';
                }
                if (item.stateDescription) {
                  stateDescriptionHTML = '<a class="inline-block ellipsis" href="/add/'+item.id+'" alt="'+item.stateDescription+'" title="'+item.stateDescription+'">'+item.stateDescription+'</a>';
                } else {
                  stateDescriptionHTML = '<a class="btn btn-primary" href="/add/'+item.id+'">添加描述</a>';
                }
                str += '<tr>'+
                          '<td>'+item.id+'</td>'+
                          '<td>'+item.areaName+'</td>'+
                          '<td>'+item.stateName+'</td>'+
                          '<td>' + stateDescriptionHTML + '</td>' + 
                          '<td>'+item.stateVotes+'</td>'+
                          '<td class="text-center">'+ stateImgHTML +
                          '</td></tr>';
              });
              $('#tbody').html(str);
            }
          }
        });
    }
    //搜索大区
    $('#area').on('change', function (e) {
        var dstr = '<option value="">所属省份</option>';
        $('#province').html(dstr);
        $('#city').html('<option value="">城市</option>');
        $('#country').html('<option value="">县区</option>');
        var stype = $(this).val() ? 'province' : null;
        search(stype, $(this), dstr);
    });
    //搜索省份
    $('#province').on('change', function (e) {
        var dstr = '<option value="">城市</option>';
        $('#city').html(dstr);
        $('#country').html('<option value="">县区</option>');
        var stype = $(this).val() ? 'city' : null;
        search(stype, $(this), dstr);
    });
    //搜索城市
    $('#city').on('change', function (e) {
        var dstr = '<option value="">县区</option>';
        $('#country').html(dstr);
        var stype = $(this).val() ? 'country' : null;
        search(stype, $(this), dstr);
    });
    //搜索县区
    $('#country').on('change', function (e) {
        search('state', $(this), '');
    });
    //在大区下搜索站点
    $('#state').on('input', function (e) {
        search('state');
    });
</script>
</body>
{% endblock %}